Desktop.ini
ipch/
Base/Debug/
Common/Debug/
AI/Debug/
GameObjects/Debug/
Others/Debug/
Base/Release/
Common/Release/
AI/Release/
GameObjects/Release/
Others/Release/
Debug/Base.exe
Debug/Base.ilk
Debug/Base.pdb
Debug/AI.lib
Debug/GameObjects.lib
Debug/Others.lib
Release/Base.exe
Release/Base.pdb
Release/Common.lib
Release/AI.lib
Release/GameObjects.lib
Release/Others.lib
*.opensdf
*.sdf
*.suo
*.user
*.log